@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

html{
    box-sizing: border-box;
}
*, 
*::before,
*::after{
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
    color: #fff;
    background-color: #031834;
    font-family: 'Roboto', sans-serif;
}
main{
    width: 90%;
    height: 100%;
    margin:0 auto;
}
.main_hero{
    border: 1px solid #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_hero h1{
    font-size: 10vw;
}
.section h2{
    font-size: 38px;
    border-bottom: 1px solid yellow;
}
.section p{
    line-height: 1.4;
    font-size: 19px;
}
.section_container{
    padding: 19px;
    border: 1px solid #fff;
    height: 100vh;
    display: flex;
    align-items: center;
}

@media (min-width: 768px){
    .section h2{
        font-size: 48px;
    }
    .section p{
        font-size: 20px;
    }
}

  @media (min-width: 1024px) {

    .section h2{
        font-size: 48px;
    }
    .section p{
        line-height: 1.6;
        font-size: 22px;
    }
   
    .section_container_1,
    .section_container_3{
        width: 70%;
    }
    .section_container_2,
    .section_container_4{
        width: 70%;
        margin-left: auto; 
        margin-right: 0;
    }
    .section_container_2 h2{
        text-align: right;
    }
    .section_container_2 p{
        text-align: right;
    }
    .section_container_4 h2{
        text-align: right;
    }
    .section_container_4 p{
        text-align: right;
    } 
  }