@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, 
*::before,
*::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-color: #031834;
}

.navbar_menu{
    background-color: #fff;
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}

#navbar_ul{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin:0 auto;
}

.navbar_li{
    padding: 0 15px;
    line-height: 50px;
}

.navbar_li a{
    color: #000;
    text-decoration: none;
    font-size: 18px;
}
.active_li{
    background-color: #42e2ba;
}
main{
    width: 90%;
    height: 100%;
    margin:0 auto;
}

.main_hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_hero h1{
    font-size: 10vw;
}

.section h2{
    font-size: 38px;
    border-bottom: 1px solid yellow;
}
.section p{
    line-height: 1.4;
    font-size: 19px;
}

.section_container{
    padding: 19px;
    border: 1px solid #fff;
    height: 100vh;
    display: flex;
    align-items: center;
}

.section_container_2 h2{
     text-align: right;
}
    
.section_container_2 p{
    text-align: right;
}

.section_container_4 h2{
    text-align: right;
}

.section_container_4 p{
    text-align: right;
}

@media (min-width: 768px){

    #navbar_ul{
        justify-content: flex-end;
    }

    .navbar_li{
        padding: 0 15px;
        margin-left: 60px;
    }

    .navbar_li a{
        font-size: 22px;
    }

    .section h2{
        font-size: 48px;
    }

    .section p{
        font-size: 20px;
    }
}

  @media (min-width: 1024px) {

    .section h2{
        font-size: 48px;
    }
    
    .section p{
        line-height: 1.6;
        font-size: 22px;
    }
   
    .section_container_1,
    .section_container_3{
        width: 70%;
    }

    .section_container_2,
    .section_container_4{
        width: 70%;
        margin-left: auto; 
        margin-right: 0;
    }
  }